/* src/index.css */

/* Remove margens e paddings padrões do navegador */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0f2f5; /* Um cinza claro para o fundo da área dos gráficos */
}

/* Garante que os elementos se ajustem ao tamanho da caixa corretamente */
* {
  box-sizing: border-box;
}

h1, h3 {
  color: #333; /* Uma cor mais escura para os títulos para dar contraste */
}